{{#if isActive}}
  <div class='error-for {{field}}'>
    <div class='error-message'>
      {{#if template}}
        {{yield error}}
      {{else}}
        Error: {{errorMessage}}
      {{/if}}
    </div>
  </div>
{{/if}}
